@model cityGuide.Models.City
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
  <div class="col-md-8 p-2">
    <div class="card ">
      <div class="card-body">
        <h5 class="card-title">@Model.Title - @Model.CityName</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><small class="text-muted">@Model.Country</small></p>
      </div>
      <img src="@Model.ImageUrl" class="card-img-bottom" alt="@Model.CityName">
    </div>
  </div>


  <div class="p-2  col-md-4">
    <div class="card">
      <div class="card-header">
        <h5>Commets</h5>
      </div>
      <ul class="list-group list-group-flush">

        @foreach (var comment in Model.Comment)
        {
          <li class="list-group-item">
            <b class="mb-1">@comment.User.Name</b>
            <h6 class="mb-0">@comment.Title</h6>
            <p class="mb-0">@comment.Content</p>
          </li>
        }
      </ul>

      <div class="card-body" >
        <form asp-controller="Cities" asp-action="NewComment" asp-route-id="@Model.CityId"  method="POST">
            @if (ViewData["message"]!= null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["message"]
                </div>
            }
          <div class="mb-3">
            <label  class="form-label">Title</label>
            <input type="text" name="Title" class="form-control" >
          </div>
          <div class="mb-3">
            <label  class="form-label">Content</label>
            <textarea class="form-control" name="Content"  rows="3"></textarea>
          </div>
          <button type="submit"  class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<style>

</style>